servicio-almacenamiento/flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Suscripciones MQTT",
        "disabled": false,
        "info": ""
    },
    {
        "id": "847187c03429c5ad",
        "type": "mqtt-broker",
        "name": "",
        "broker": "${BROKER_SERVICE}",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "2ac7539c2e9ea1c6",
        "type": "mongodb4-client",
        "name": "",
        "protocol": "mongodb",
        "hostname": "",
        "port": "",
        "dbName": "${MONGO_DB}",
        "authSource": "",
        "authMechanism": "DEFAULT",
        "tls": false,
        "tlsCAFile": "",
        "tlsInsecure": false,
        "uri": "${MONGO_URL}",
        "advanced": "{\"maxPoolSize\": 50}",
        "uriTabActive": "tab-uri-advanced"
    },
    {
        "id": "7aec0647a4acf9e2",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "/sensores/temperatura",
        "qos": "2",
        "datatype": "json",
        "broker": "847187c03429c5ad",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 220,
        "wires": [
            [
                "48a4fc778770406c"
            ]
        ]
    },
    {
        "id": "e205cc9233070649",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "/sensores/presencia",
        "qos": "2",
        "datatype": "json",
        "broker": "847187c03429c5ad",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 160,
        "wires": [
            [
                "48a4fc778770406c"
            ]
        ]
    },
    {
        "id": "5cb13f602bec731a",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "/sensores/incendio",
        "qos": "2",
        "datatype": "json",
        "broker": "847187c03429c5ad",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 100,
        "wires": [
            [
                "48a4fc778770406c"
            ]
        ]
    },
    {
        "id": "d538ad539d14491f",
        "type": "mongodb4",
        "z": "f6f2187d.f17ca8",
        "clientNode": "2ac7539c2e9ea1c6",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "name": "insertOne",
        "x": 660,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "48a4fc778770406c",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "preparar insercion mongodb",
        "func": "msg.payload = [{\n    \"idSensor\": msg.payload.idSensor,\n    \"timestamp\": new Date(msg.payload.timestamp),\n    \"valor\": msg.payload.valor\n}]\n\nmsg.collection = \"lecturas_sensores\"\nmsg.operation = \"insertOne\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 160,
        "wires": [
            [
                "d538ad539d14491f"
            ]
        ]
    },
    {
        "id": "8db6110e093dce0e",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "/estado",
        "qos": "2",
        "datatype": "json",
        "broker": "847187c03429c5ad",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 280,
        "wires": [
            [
                "60d42214bdda34f2"
            ]
        ]
    },
    {
        "id": "60d42214bdda34f2",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "preparar insercion mongodb",
        "func": "msg.payload = [{\n    \"idServidorLocal\": msg.payload.idServidorLocal,\n    \"estado\": msg.payload.estado,\n    \"timestamp\": new Date(msg.payload.timestamp)\n}]\n\nmsg.collection = \"estados_servidores_locales\"\nmsg.operation = \"insertOne\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 280,
        "wires": [
            [
                "d538ad539d14491f"
            ]
        ]
    },
    {
        "id": "61fcd1f3771e5236",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "/registro",
        "qos": "2",
        "datatype": "json",
        "broker": "847187c03429c5ad",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 560,
        "wires": [
            [
                "c2f29b49767af872",
                "d515acf037a93913"
            ]
        ]
    },
    {
        "id": "7fe3448e398203cd",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "Registrar nuevo servidor local y sensores",
        "info": "",
        "x": 200,
        "y": 460,
        "wires": []
    },
    {
        "id": "d515acf037a93913",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "find servidor local",
        "func": "msg.servidorLocal = msg.payload\n\nmsg.payload = [{\n    \"_id\": msg.payload.idServidorLocal\n}]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 520,
        "wires": [
            [
                "f2a548dd52c24703"
            ]
        ]
    },
    {
        "id": "c2f29b49767af872",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "preparar split",
        "func": "msg.servidorLocal = msg.payload\n\nmsg.payload = msg.payload.sensores\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 600,
        "wires": [
            [
                "303df59b17efc454"
            ]
        ]
    },
    {
        "id": "f2a548dd52c24703",
        "type": "mongodb4",
        "z": "f6f2187d.f17ca8",
        "clientNode": "2ac7539c2e9ea1c6",
        "collection": "servidores_locales",
        "operation": "findOne",
        "output": "toArray",
        "name": "",
        "x": 460,
        "y": 520,
        "wires": [
            [
                "dd9f0b82e7cb67cb"
            ]
        ]
    },
    {
        "id": "dd9f0b82e7cb67cb",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "no encontrado?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 620,
        "y": 520,
        "wires": [
            [
                "b133e25a51bfd6b9"
            ]
        ]
    },
    {
        "id": "b133e25a51bfd6b9",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "insert nuevo servidor local",
        "func": "msg.payload = [{\n    \"_id\": msg.servidorLocal.idServidorLocal,\n    \"longitud\": msg.servidorLocal.longitud,\n    \"latitud\": msg.servidorLocal.latitud\n}]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 520,
        "wires": [
            [
                "82cf8fde45a8568f"
            ]
        ]
    },
    {
        "id": "82cf8fde45a8568f",
        "type": "mongodb4",
        "z": "f6f2187d.f17ca8",
        "clientNode": "2ac7539c2e9ea1c6",
        "collection": "servidores_locales",
        "operation": "insertOne",
        "output": "toArray",
        "name": "",
        "x": 1020,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "303df59b17efc454",
        "type": "split",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 410,
        "y": 600,
        "wires": [
            [
                "e524533b8363a3c1"
            ]
        ]
    },
    {
        "id": "e524533b8363a3c1",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "find sensor",
        "func": "msg.sensor = msg.payload\n\nmsg.payload = [{\n    \"_id\": msg.payload.idSensor\n}]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 600,
        "wires": [
            [
                "d22f1d86970b7ac5"
            ]
        ]
    },
    {
        "id": "d22f1d86970b7ac5",
        "type": "mongodb4",
        "z": "f6f2187d.f17ca8",
        "clientNode": "2ac7539c2e9ea1c6",
        "collection": "sensores",
        "operation": "findOne",
        "output": "toArray",
        "name": "",
        "x": 700,
        "y": 600,
        "wires": [
            [
                "a6a8c7f56a179af6"
            ]
        ]
    },
    {
        "id": "a6a8c7f56a179af6",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "no encontrado?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 860,
        "y": 600,
        "wires": [
            [
                "1fd8c1a93c23460a"
            ]
        ]
    },
    {
        "id": "1fd8c1a93c23460a",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "insert nuevo sensor",
        "func": "msg.payload = [{\n    \"_id\": msg.sensor.idSensor,\n    \"idServidorLocal\": msg.servidorLocal.idServidorLocal,\n    \"type\": msg.sensor.type\n}]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 600,
        "wires": [
            [
                "47e2b74a5af85a83"
            ]
        ]
    },
    {
        "id": "47e2b74a5af85a83",
        "type": "mongodb4",
        "z": "f6f2187d.f17ca8",
        "clientNode": "2ac7539c2e9ea1c6",
        "collection": "sensores",
        "operation": "insertOne",
        "output": "toArray",
        "name": "",
        "x": 1220,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "7e53e1d5f7d1cc07",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "Registra eventos en db",
        "info": "",
        "x": 140,
        "y": 40,
        "wires": []
    },
    {
        "id": "2c2f40ecef59032c",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "/desconexion",
        "qos": "2",
        "datatype": "utf8",
        "broker": "847187c03429c5ad",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 340,
        "wires": [
            [
                "005ffe5ec52c9932"
            ]
        ]
    },
    {
        "id": "005ffe5ec52c9932",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "preparar insercion mongodb",
        "func": "msg.payload = [{\n    \"idServidorLocal\": msg.payload,\n    \"estado\": \"desconectado\",\n    \"timestamp\": new Date()\n}]\n\nmsg.collection = \"estados_servidores_locales\"\nmsg.operation = \"insertOne\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 340,
        "wires": [
            [
                "d538ad539d14491f"
            ]
        ]
    }
]